body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.TitleScreen {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9ECD9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
}

.TitleScreen .title {
    font-size: 4em;
    margin-bottom: 20px;
    position: absolute;
    top: 100px;
    text-align: center; 
    width: 100%;

    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #A6B8E8;
    text-shadow: 1px 1px 2px black;


}

.TitleScreen .options {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-grow: 1; /*This is the default already but just to make sure*/
    justify-content: center; 
}

.TitleScreen .option {
    width:200px;
    font-size: 1.5em;
    margin: 10px 0;
    padding: 10px 20px; 
    border: 2px solid #000; /* Add border around buttons */
    cursor: pointer;
    text-align: center;
    background-color: #A6B8E8;
    font-family: Arial, sans-serif;
}

.TitleScreen .option:hover {
    background-color: #e0e0e0;
}

.TitleScreen .option.back-button {
    width: 100px; /* Smaller width for back button */
    padding: 10px;
    font-size: 1em;
}

.RightSide {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7DEE4;
}

.pinkBox {
    background-color: #F1C8DE; 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinkBox img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
}

.rampart-one-regular {
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  